<div class="grid-container" style="margin-left: 10%;">
<div id="one"> 
    <div class="dropdown">
    <a class="btn btn-secondary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"style="    background: linear-gradient(45deg,rgb(219, 160, 240),rgb(99, 80, 207));
    ">
        <i class="fa fa-list" aria-hidden="true"></i>

        <span>        Catégories </span>   </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div></div>
<div id="two">
    

<form>
  <input type="text" name="search" placeholder="Search.."style="width:400px">
</form>

</div>
    <div id="three">
        

        <div class="dropdown">
            <a class="btn btn-secondary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="    background: linear-gradient(45deg,rgb(219, 160, 240),rgb(99, 80, 207));
            ">
                <i class="fa fa-map-marker" aria-hidden="true" style="padding-left: 10%;"></i>
             <span>     ou?   </span>
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        
                        <li><a href="#" class="dropdown-item" data-id="2464470" data-name="Tunis" data-type="city"><span>Tunis</span></a></li>
                        
                        <li><a href="#" class="dropdown-item" data-id="2467454" data-name="Sfax" data-type="city"><span>Sfax</span></a></li>
                        
                        <li><a href="#" class="dropdown-item" data-id="2464915" data-name="Sousse" data-type="city"><span>Sousse</span></a></li>
                        
                        <li><a href="#" class="dropdown-item" data-id="2468925" data-name="Midoun" data-type="city"><span>Jerba</span></a></li>
                        
                        <li><a href="#" class="dropdown-item" data-id="2473449" data-name="Kairouan" data-type="city"><span>Kairouan</span></a></li>
                        
                        <li><a href="#" class="dropdown-item" data-id="2472706" data-name="Bizerte" data-type="city"><span>Bizerte</span></a></li>
                        
                        <li><a href="#" class="dropdown-item" data-id="2468369" data-name="Gabes" data-type="city"><span>Gabes</span></a></li>
                        
                        <li><a href="#" class="dropdown-item" data-id="2473247" data-name="Ariana" data-type="city"><span>Ariana</span></a></li>
                        
                        <li><a href="#" class="dropdown-item" data-id="2473457" data-name="Kasserine" data-type="city"><span>Kasserine</span></a></li>
                        
                        <li><a href="#" class="dropdown-item" data-id="2468353" data-name="Gafsa" data-type="city"><span>Gafsa</span></a></li>
                        
                        
                        
                        <li><a href="#" class="dropdown-item" data-id="2472479" data-name="Ben Arous" data-type="city"><span>Ben Arous</span></a></li>
                        
                        <li><a href="#" class="dropdown-item" data-id="2473493" data-name="Monastir" data-type="city"><span>Monastir</span></a></li>
                        
                        
                        
                        
                        
                    </ul>
                </div>
            </div>
      
            <div class="sidenav">
                <div>    

                    <form action="" style="margin-left: 10%;padding-left: 4px;">
                        <p >Filtre par type </p>

                      <input type="checkbox" id="s1" name="s1" >
                      <label for="s1"> Stage ingénieur</label><br>
                      <input type="checkbox" id="s2" name="s2" >
                      <label for="s2"> Stage PFE </label><br>
                      <input type="checkbox" id="s3" name="s3">
                      <label for="s3"> ..........</label><br><br>
                      <br><br>
                      <p>Type d'offre</p>

                        <input type="checkbox" id="o1" name="o1">
                        <label for="s=o1"> Temps plein</label><br>
                        <input type="checkbox" id="o2" name="o2">
                        <label for="o2"> Temps partiel </label><br>
                        <input type="checkbox" id="o3" name="o3" >
                        <label for="03"> ..........</label><br><br>
                    </form>
                                   </div>
               
              </div>
              
        
    
    </div>